
.footer{
    background-color: #fcfbfb;

}

.icon{
    color: #085696;
    font-size: 20px;
}
.aboutTitle{
    color: #085696;
}
.copyRight{
    color: #b8b8b8;
}
.footer span{
    color: #585858;
}

.logo{
    width: 100px;
}