
input[type="text"]{
    padding: 5px 35px;
}

.code{
    background-image: url('/codeIcon.svg');
}

.code{
    background-position: 4px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}